{
    "ExternalCommands": [
        {
            "External_Command_ID": "Down",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Down",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Left",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Left",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Lose",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Lose",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Right",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Right",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Up",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Up",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Win",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Win",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Zone1",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Zone1",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Zone2",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Zone2",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Zone3",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Zone3",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Zone4",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Zone4",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Zone5",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Zone5",
                    "Loop": 1,
                    "Mixing": "Override",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        }
    ]
}